<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/09_exercises/151_160_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 151](#1)
* [Ćwiczenie 152](#2)
* [Ćwiczenie 153](#3)
* [Ćwiczenie 154](#4)
* [Ćwiczenie 155](#5)
* [Ćwiczenie 156](#6)
* [Ćwiczenie 157](#7)
* [Ćwiczenie 158](#8)
* [Ćwiczenie 159](#9)
* [Ćwiczenie 160](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 151
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [30]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [31]:
df.query('C > 0.8')

          A         B         C         D
4  0.690938  0.386735  0.936730  0.137521
5  0.341066  0.113474  0.924694  0.877339
6  0.257942  0.659984  0.817222  0.555201
9  0.725956  0.897110  0.887086  0.779876

### <a name='2'></a> Ćwiczenie 152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [32]:
df.query('C > 0.3 & D < 0.7')

          A         B         C         D
0  0.367783  0.632306  0.633530  0.535775
1  0.090290  0.835302  0.320780  0.186519
2  0.040775  0.590893  0.677564  0.016588
3  0.512093  0.226496  0.645173  0.174366
4  0.690938  0.386735  0.936730  0.137521
6  0.257942  0.659984  0.817222  0.555201
8  0.900418  0.633101  0.339030  0.349210

### <a name='3'></a> Ćwiczenie 153
Dokonaj iteracji po pierwszych pięciu wierszach obiektu _df_. Każdy wiersz wydrukuj do konsoli.

__Wskazówka:__ Wykorzystaj funkcję _pd.DataFrame.iterrows()_.

In [56]:
for index, row in df.head(5).iterrows():
  print(row)

A    0.367783
B    0.632306
C    0.633530
Name: 0, dtype: float64
A    0.090290
B    0.835302
C    0.320780
Name: 1, dtype: float64
A    0.040775
B    0.590893
C    0.677564
Name: 2, dtype: float64
A    0.512093
B    0.000000
C    0.645173
Name: 3, dtype: float64
A    0.690938
B    0.386735
C    0.936730
Name: 4, dtype: float64

### <a name='4'></a> Ćwiczenie 154
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [57]:
df.iloc[3, 1] = np.nan
df

<ipython-input-57-aa2fa2a112c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[3, 1] = np.nan

          A         B         C
0  0.367783  0.632306  0.633530
1  0.090290  0.835302  0.320780
2  0.040775  0.590893  0.677564
3  0.512093       NaN  0.645173
4  0.690938  0.386735  0.936730
5  0.341066  0.113474  0.924694
6  0.257942  0.659984  0.817222
7  0.529651  0.241852  0.093103
8  0.900418  0.633101  0.339030
9  0.725956  0.897110  0.887086

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [35]:
df.loc[7, 'D'] = np.nan
df

          A         B         C         D
0  0.367783  0.632306  0.633530  0.535775
1  0.090290  0.835302  0.320780  0.186519
2  0.040775  0.590893  0.677564  0.016588
3  0.512093       NaN  0.645173  0.174366
4  0.690938  0.386735  0.936730  0.137521
5  0.341066  0.113474  0.924694  0.877339
6  0.257942  0.659984  0.817222  0.555201
7  0.529651  0.241852  0.093103       NaN
8  0.900418  0.633101  0.339030  0.349210
9  0.725956  0.897110  0.887086  0.779876

Wyświetl obiekt _df_.

In [38]:
df

          A         B         C         D
0  0.367783  0.632306  0.633530  0.535775
1  0.090290  0.835302  0.320780  0.186519
2  0.040775  0.590893  0.677564  0.016588
3  0.512093       NaN  0.645173  0.174366
4  0.690938  0.386735  0.936730  0.137521
5  0.341066  0.113474  0.924694  0.877339
6  0.257942  0.659984  0.817222  0.555201
7  0.529651  0.241852  0.093103       NaN
8  0.900418  0.633101  0.339030  0.349210
9  0.725956  0.897110  0.887086  0.779876

### <a name='5'></a> Ćwiczenie 155
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

In [48]:
print()
df1 = df[df.isnull().any(axis=1)]
df.dropna(how='all').dropna(how='all', axis=1, inplace=True)
df1

          A         B         C         D
3  0.512093       NaN  0.645173  0.174366
7  0.529651  0.241852  0.093103       NaN

### <a name='6'></a> Ćwiczenie 156
Zauważ, że indeks po usunięciu dwóch wieszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [49]:
df1.reset_index(inplace=True)
df1

   index         A         B         C         D
0      3  0.512093       NaN  0.645173  0.174366
1      7  0.529651  0.241852  0.093103       NaN

### <a name='7'></a> Ćwiczenie 157
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [52]:
df.isna().sum()

A    0
B    1
C    0
D    1
dtype: int64

### <a name='8'></a> Ćwiczenie 158
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

In [53]:
df = df.fillna(0)
df

          A         B         C         D
0  0.367783  0.632306  0.633530  0.535775
1  0.090290  0.835302  0.320780  0.186519
2  0.040775  0.590893  0.677564  0.016588
3  0.512093  0.000000  0.645173  0.174366
4  0.690938  0.386735  0.936730  0.137521
5  0.341066  0.113474  0.924694  0.877339
6  0.257942  0.659984  0.817222  0.555201
7  0.529651  0.241852  0.093103  0.000000
8  0.900418  0.633101  0.339030  0.349210
9  0.725956  0.897110  0.887086  0.779876

### <a name='9'></a> Ćwiczenie 159
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [58]:
df = df.iloc[:, [3,0,1,2]]

#lub

df = df[['D', 'A', 'B', 'C']]

IndexError: ignored

### <a name='10'></a> Ćwiczenie 160
Usuń kolumnę $D$ z obiektu _df_.

In [55]:
df.drop(['D'], axis=1, inplace=True)

#lub
def df['D']
df

<ipython-input-55-108a2718662b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['D'], axis=1, inplace=True)

          A         B         C
0  0.367783  0.632306  0.633530
1  0.090290  0.835302  0.320780
2  0.040775  0.590893  0.677564
3  0.512093  0.000000  0.645173
4  0.690938  0.386735  0.936730
5  0.341066  0.113474  0.924694
6  0.257942  0.659984  0.817222
7  0.529651  0.241852  0.093103
8  0.900418  0.633101  0.339030
9  0.725956  0.897110  0.887086