<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/09_exercises/191_200_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 191](#1)
* [Ćwiczenie 192](#2)
* [Ćwiczenie 193](#3)
* [Ćwiczenie 194](#4)
* [Ćwiczenie 195](#5)
* [Ćwiczenie 196](#6)
* [Ćwiczenie 197](#7)
* [Ćwiczenie 198](#8)
* [Ćwiczenie 199](#9)
* [Ćwiczenie 200](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 191
Z poniższego słownika _data_ utwórz obiekt _DataFrame_ i przypisz do zmiennej _df_.


```
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
```

In [74]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
df = pd.DataFrame.from_dict(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

Wyświetl podstawowe informacje na temat obiektu _df_.

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

Dokonaj konwersji zmiennych na poszczególne typy:
* size -> _category_
* color -> _category_
* gender -> _category_
* weight -> _float_
* bought -> _category_

In [76]:
df[['size', 'color', 'gender', 'bought']] = df[['size', 'color', 'gender', 'bought']].astype('category') #lub w petli
df[['weight']] = df[['weight']].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

### <a name='2'></a> Ćwiczenie 192
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _LabelEncoder_ dokonaj kodowania 0-1 zmiennej _bought_. Zmiany przypisz na stałe do obiektu _df_ i wyświetl ten obiekt.

In [80]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

Wykorzystując odpowiednią metodę klasy _LabelEncoder_ przywróć pierwotną postać zmiennej _bought_. Zwróć uwagę na typ zmiennej _bought_.

In [81]:
df['bought'] = le.inverse_transform(df['bought'])
df
df['bought'] = df['bought'].astype('category')
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

### <a name='3'></a> Ćwiczenie 193
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _OneHotEncoder_ dokonaj kodowania 0-1 zmiennej _size_. Nie przypisuj zmian do obiektu _df_.

Użyj parametru _sparse=False_ klasy _OneHotEncoder_.

In [28]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(df[['size']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _OneHotEncoder_ dokonaj kodowania 0-1 zmiennej _size_. Nie przypisuj zmian do obiektu _df_.

Użyj parametru _sparse=False_ **oraz _drop=first_** klasy _OneHotEncoder_.

In [30]:
ohe = OneHotEncoder(sparse=False, drop='first')
ohe.fit_transform(df[['size']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

### <a name='4'></a> Ćwiczenie 194
Wykorzystując bibliotekę _pandas_ oraz funkcję _get_dummies()_ przedstaw wszystkie zmienne kategoryczne obiektu _df_ w postaci kodowania 0-1. Nie przypisuj zmian na trwałe do obiektu _df_.

In [82]:
pd.get_dummies(df)

,price,weight,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male,bought_no,bought_yes
0,199.0,500.0,0,0,1,0,0,1,1,0,0,1
1,89.0,450.0,1,0,0,0,1,0,0,1,1,0
2,99.0,300.0,0,1,0,1,0,0,0,1,0,1
3,129.0,380.0,1,0,0,0,1,0,1,0,1,0
4,79.0,410.0,0,1,0,0,0,1,1,0,0,1

Wykorzystując bibliotekę _pandas_ oraz funkcję _get_dummies()_ przedstaw wszystkie zmienne kategoryczne obiektu _df_ w postaci kodowania 0-1. Użyj parametru _drop_first=True_. Nie przypisuj zmian na trwałe do obiektu _df_.

In [37]:
pd.get_dummies(df, drop_first=True)

   price  weight  bought  size_M  size_XL  color_green  color_red  gender_male
0  199.0   500.0       1       0        1            0          1            0
1   89.0   450.0       0       0        0            1          0            1
2   99.0   300.0       1       1        0            0          0            1
3  129.0   380.0       0       0        0            1          0            0
4   79.0   410.0       1       1        0            0          1            0

Wykorzystując bibliotekę _pandas_ oraz funkcję _get_dummies()_ przedstaw **zmienną _size_** obiektu _df_ w postaci kodowania 0-1. Użyj parametru _drop_first=True_. Nie przypisuj zmian na trwałe do obiektu _df_.

In [83]:
pd.get_dummies(df, columns=['size'], drop_first=True)

   color  gender  price  weight bought  size_M  size_XL
0    red  female  199.0   500.0    yes       0        1
1  green    male   89.0   450.0     no       0        0
2   blue    male   99.0   300.0    yes       1        0
3  green  female  129.0   380.0     no       0        0
4    red  female   79.0   410.0    yes       1        0

### <a name='5'></a> Ćwiczenie 195
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _StandardScaler_ dokonaj skalowania zmiennej _weight_. Nie przypisuj zmian do obiektu _df_.

In [84]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit_transform(df[['weight']])

array([[ 1.3660019 ],
       [ 0.62360956],
       [-1.60356745],
       [-0.41573971],
       [ 0.02969569]])

### <a name='6'></a> Ćwiczenie 196
Wczytaj raz jeszcze słownik _data_ do obiektu _DataFrame_ o nazwie _df_.

In [41]:
df = pd.DataFrame.from_dict(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

Przygotuj dane do modelu uczenia maszynowego:
* wykorzystując klasę LabelEncoder dokonaj kodowania 0-1 zmiennej _bought_
* dokonaj standaryzacji zmiennych _weight_ oraz _price_
* dokonaj kodowania 0-1 posoztałych zmiennych kategorycznych wykorzystując funkcję _get_dummies()._

Przypisz zmiany do zmiennej _df_prep_.

In [85]:
df_prep = df.copy()

le = LabelEncoder()
le.fit(df['bought'])
df_prep['bought'] = le.transform(df_prep['bought'])

scaler = StandardScaler()
scaler.fit(df_prep[['weight', 'price']])
df_prep[['weight', 'price']] = scaler.transform(df_prep[['weight', 'price']])
df_prep = pd.get_dummies(df_prep)
df_prep

,price,weight,bought,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male
0,1.845062,1.366002,1,0,0,1,0,0,1,1,0
1,-0.691898,0.623610,0,1,0,0,0,1,0,0,1
2,-0.461266,-1.603567,1,0,1,0,1,0,0,0,1
3,0.230633,-0.415740,0,1,0,0,0,1,0,1,0
4,-0.922531,0.029696,1,0,1,0,0,0,1,1,0

### <a name='7'></a> Ćwiczenie 197
Skopiuj obiekt _df_prep_ do zmiennej _data_. Następnie wyrwij z tego obiektu kolumnę _bought_ i przypisz do zmiennej _target_.

In [64]:
data = df_prep.copy()
target = data.pop('bought')

Wyświetl 5 pierwszych wierszy obiektu _data_. Upewnij się, że nie ma w nim kolumny _bought_.

In [65]:
data.head()

,price,weight,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male
0,1.845062,1.366002,0,0,1,0,0,1,1,0
1,-0.691898,0.623610,1,0,0,0,1,0,0,1
2,-0.461266,-1.603567,0,1,0,1,0,0,0,1
3,0.230633,-0.415740,1,0,0,0,1,0,1,0
4,-0.922531,0.029696,0,1,0,0,0,1,1,0

Wyświetl 5 pierwszych wierszy obiektu _target_.

In [66]:
target.head()

0    1
1    0
2    1
3    0
4    1
Name: bought, dtype: int64

### <a name='8'></a> Ćwiczenie 198
Wykorzystując bibliotekę _scikit-learn_ oraz funkcję _train_test_split_ podziel dane z obiektów _data_ i _target_ na zbiór treningowy (_X\_train_, _y\_train_) oraz zbiór testowy (_X\_test_, _y\_test_). Do zbioru testowego przydziel 20% próbek. 

Wyświetl rozmiar obiektów:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [67]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2)

print(f'X_train shape: {X_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (4, 10)
X_test shape: (1, 10)
y_train shape: (4,)
y_test shape: (1,)

### <a name='9'></a> Ćwiczenie 199
Połącz obiekty _X\_train_ oraz _X\_test_ w jeden obiekt _DataFrame_ o nazwie _X_.

In [68]:
X = X_train.append(X_test)
X

<ipython-input-68-3e0abefbf3e1>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X = X_train.append(X_test)

,price,weight,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male
3,0.230633,-0.415740,1,0,0,0,1,0,1,0
2,-0.461266,-1.603567,0,1,0,1,0,0,0,1
4,-0.922531,0.029696,0,1,0,0,0,1,1,0
1,-0.691898,0.623610,1,0,0,0,1,0,0,1
0,1.845062,1.366002,0,0,1,0,0,1,1,0

### <a name='10'></a> Ćwiczenie 200
Połącz obiekty _y\_train_ oraz _y\_test_ w jeden obiekt _DataFrame_ o nazwie _y_.

In [69]:
y = y_train.append(y_test)
y

<ipython-input-69-2b8e609ce8a4>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  y = y_train.append(y_test)

3    0
2    1
4    1
1    0
0    1
Name: bought, dtype: int64

Połącz obiekty _X_ oraz _y_ w jeden obiekt _DataFrame_.

In [73]:
DataFrame = pd.concat([X, y], axis=1)
DataFrame

,price,weight,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male,bought
3,0.230633,-0.415740,1,0,0,0,1,0,1,0,0
2,-0.461266,-1.603567,0,1,0,1,0,0,0,1,1
4,-0.922531,0.029696,0,1,0,0,0,1,1,0,1
1,-0.691898,0.623610,1,0,0,0,1,0,0,1,0
0,1.845062,1.366002,0,0,1,0,0,1,1,0,1