<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/09_exercises/201_210_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science Bootcamp

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 201](#1)
* [Ćwiczenie 202](#2)
* [Ćwiczenie 203](#3)
* [Ćwiczenie 204](#4)
* [Ćwiczenie 205](#5)
* [Ćwiczenie 206](#6)
* [Ćwiczenie 207](#7)
* [Ćwiczenie 208](#8)
* [Ćwiczenie 209](#9)
* [Ćwiczenie 210](#10)

### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.__version__

'1.22.4'

### <a name='1'></a> Ćwiczenie 201
Z poniższego słownika _data_ utwórz obiekt _DataFrame_ i przypisz do zmiennej _df_.

In [2]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

df = pd.DataFrame.from_dict(data)

Wyświetl podstawowe informacje na temat obiektu _df_.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   6 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  4 non-null      float64
 5   bought  6 non-null      object
dtypes: float64(2), object(4)
memory usage: 416.0+ bytes

### <a name='2'></a> Ćwiczenie 202
Sprawdź liczbę braków danych dla poszczególnych zmiennych.

In [4]:
df.isna().sum()

size      1
color     0
gender    1
price     1
weight    2
bought    0
dtype: int64

Sprawdź liczbę braków danych dla poszczególnych zmiennych. Podaj procent braków.

In [11]:
print(df.isnull().sum() * 100 / len(df))

size      16.666667
color      0.000000
gender    16.666667
price     16.666667
weight    33.333333
bought     0.000000
dtype: float64

### <a name='3'></a> Ćwiczenie 203
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _SimpleImputer_ uzupełnij braki danych dla zmiennej _weight_ wartością średnią. Zmiany przypisz na stałe do obiektu _df_.

In [32]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
df[['weight']] = imputer.fit_transform(df[['weight']])

Wyświetl wartość średnią wstawioną w miejsce braków kolumny _weight_.

In [33]:
imputer.statistics_

array([415.])

### <a name='4'></a> Ćwiczenie 204
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _SimpleImputer_ uzupełnij braki danych dla zmiennej _price_ stałą wartością 99.0. Zmiany przypisz na stałe do obiektu _df_.

In [16]:
imputer = SimpleImputer(strategy='constant', fill_value=99.0)
df[['price']] = imputer.fit_transform(df[['price']])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3  NaN  green  female  129.0   430.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   430.0     no

### <a name='5'></a> Ćwiczenie 205
Wykorzystując bibliotekę do uczenia maszynowego _scikit-learn_ oraz klasę _SimpleImputer_ uzupełnij braki danych dla zmiennej _size_ najczęściej pojawiającym się elementem. Zmiany przypisz na stałe do obiektu _df_.

In [17]:
imputer = SimpleImputer(strategy='most_frequent')
df[['size']] = imputer.fit_transform(df[['size']])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3    M  green  female  129.0   430.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   430.0     no

### <a name='6'></a> Ćwiczenie 206
Przed przejściem do następnych ćwiczeń ponownie załaduj słownik do obiektu _df_.

In [18]:
df = pd.DataFrame.from_dict(data)

Wytnij wszystkie wiersze obiektu _df_ dla których zmienna _weight_ przyjmuje wartość _np.nan_.

In [22]:
df[df['weight'].isna()]

  size  color  gender  price  weight bought
3  NaN  green  female  129.0     NaN     no
5    M  green    male   89.0     NaN     no

Wytnij wszystkie wiersze obiektu _df_ dla których zmienna _weight_ nie przyjmuje wartość _np.nan_.

In [24]:
df[~df['weight'].isna()]

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
4    M    red  female   79.0   410.0    yes

### <a name='7'></a> Ćwiczenie 207
Uzupełnij wszystkie braki  w obiekcie _df_ wartością 'brak'. Zmian nie przypisuj na stałe do zmiennej _df_.

In [25]:
df.fillna('brak')

   size  color  gender  price weight bought
0    XL    red  female  199.0  500.0    yes
1     L  green    male   89.0  450.0     no
2     M   blue    brak   brak  300.0    yes
3  brak  green  female  129.0   brak     no
4     M    red  female   79.0  410.0    yes
5     M  green    male   89.0   brak     no

### <a name='8'></a> Ćwiczenie 208
Usuń wiersze z brakami danych z obiektu _df_. Zmian nie przypisuj na stałe do zmiennej _df_.

In [29]:
df.dropna()

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
4    M    red  female   79.0   410.0    yes

### <a name='9'></a> Ćwiczenie 209
Usuń wiersze z brakami danych z obiektu _df_ dla których nie ma co najmniej 5 zdefiniowanych wartości (inaczej zawierają dwa braki _np.nan_). Zmian nie przypisuj na stałe do zmiennej _df_.

In [30]:
df.dropna(thresh=5)

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

### <a name='10'></a> Ćwiczenie 210
Usuń wiersze z brakami danych z obiektu _df_ dla których nie ma co najmniej 5 zdefiniowanych wartości (inaczej zawierają dwa braki _np.nan_) a resztę braków wypełnij stałą wartością 400.0. Zmian nie przypisuj na stałe do zmiennej _df_.

In [31]:
df.dropna(thresh=5).fillna(400.0)

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   400.0     no