<a href="https://colab.research.google.com/github/LucjanSakowicz/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* @author: krakowiakpawel9@gmail.com  
* @site: e-smartdata.org

### Pandas
Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

Podstawowa biblioteka do analizy danych w języku Python.

Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Import bibliotek](#a1)
2. [Wczytanie danych](#a2)
3. [Preprocessing](#a3)
4. [Konkatenacja danych](#a4)
5. [Metoda append()](#a5)

### <a name='a1'></a> Import bibliotek

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

### <a name='a2'></a> Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [3]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1009 entries, 2023-05-11 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1009 non-null   float64
 1   High    1009 non-null   float64
 2   Low     1009 non-null   float64
 3   Close   1009 non-null   float64
 4   Volume  1009 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 47.3 KB

In [4]:
apple.head()

               Open    High     Low    Close       Volume
Date
2023-05-11  173.850  174.59  172.17  173.750   49514676.0
2023-05-10  173.020  174.03  171.90  173.555   53724501.0
2023-05-09  173.050  173.54  171.60  171.770   45326874.0
2023-05-08  172.480  173.85  172.11  173.500   55962793.0
2023-05-05  170.975  174.30  170.76  173.570  113453171.0

### <a name='a3'></a> Preprocessing

In [5]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [6]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-05-11     173.850      174.59     172.17      173.750    49514676.0
2023-05-10     173.020      174.03     171.90      173.555    53724501.0
2023-05-09     173.050      173.54     171.60      171.770    45326874.0
2023-05-08     172.480      173.85     172.11      173.500    55962793.0
2023-05-05     170.975      174.30     170.76      173.570   113453171.0

### <a name='a4'></a> Konkatenacja danych

In [7]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2018-05-14,45.2899,45.4125,45.0127,45.0825,8.671748e+07,80.2000,80.5590,80.0025,80.0770,50189660,55.2785,55.9075,55.2400,55.3300,39337860,NaN,NaN,NaN,NaN,NaN
2018-05-15,44.7535,44.8252,44.3557,44.6707,9.888863e+07,79.3900,79.3900,78.2610,78.8060,101549300,54.8450,54.9560,53.9390,54.2435,35738520,NaN,NaN,NaN,NaN,NaN
2018-05-16,44.5860,45.1593,44.5681,45.0905,8.005799e+07,78.8750,79.7215,78.8335,79.3640,51411440,54.2545,54.7190,54.0815,54.2045,25628120,NaN,NaN,NaN,NaN,NaN
2018-05-17,45.0456,45.2679,44.6538,44.8054,7.217436e+07,79.0280,79.7020,78.6500,79.0880,42952120,54.0730,54.5500,53.8210,54.0630,25738140,NaN,NaN,NaN,NaN,NaN
2018-05-18,44.8552,45.0008,44.5999,44.6418,7.636316e+07,79.0665,79.1795,78.6050,78.7185,52851680,53.3000,53.6865,53.2340,53.4820,35482980,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-05,170.9750,174.3000,170.7600,173.5700,1.134532e+08,104.2700,105.7600,103.5500,105.6550,56951744,104.8200,105.8800,104.1100,105.5700,26639254,37.48,37.95,36.8700,37.75,24682890.0
2023-05-08,172.4800,173.8500,172.1100,173.5000,5.596279e+07,105.0400,106.0950,104.7001,105.8300,49430909,105.1800,107.9600,105.1600,107.7700,26511445,37.82,38.93,37.4800,38.83,30992060.0
2023-05-09,173.0500,173.5400,171.6000,171.7700,4.532687e+07,105.4800,106.7900,105.1567,106.6200,44089359,108.3900,110.1500,107.1900,107.3500,36360141,38.49,38.58,37.9050,38.19,19393602.0
2023-05-10,173.0200,174.0300,171.9000,173.5550,5.372450e+07,108.1000,110.6700,108.0500,110.1900,78627616,107.9700,112.9400,107.9300,111.7500,63153367,38.60,38.95,38.1699,38.79,19531548.0
2023-05-11,173.8500,174.5900,172.1700,173.7500,4.951468e+07,111.0300,113.2800,110.4900,112.1800,74924841,115.3950,117.9200,114.4100,116.5700,78900029,38.64,39.18,38.3400,38.42,16515576.0

In [8]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,104.798410,106.074686,103.607269,104.901232,1.131145e+08,121.782383,123.277978,120.150634,121.726279,8.310625e+07,88.897162,89.916818,87.909053,88.939572,3.485715e+07,36.986361,37.741673,36.162985,36.955094,2.551174e+07
std,46.130415,46.707836,45.581184,46.172274,5.591690e+07,33.769005,34.105179,33.362071,33.690774,3.821170e+07,29.699048,29.993520,29.347542,29.667185,1.557018e+07,9.569158,9.646684,9.413262,9.509450,1.653069e+07
min,34.743100,35.158800,34.263500,34.309400,3.519586e+07,67.300000,69.801500,65.350000,67.198000,1.762674e+07,49.216000,50.606000,48.883000,49.233500,9.312760e+06,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,53.339550,53.869250,52.745600,53.409100,7.685244e+07,91.450125,92.320250,90.507250,91.428250,5.743079e+07,60.698625,61.214000,60.229750,60.608375,2.505874e+07,30.070000,30.620000,29.410000,30.080000,1.574298e+07
50%,118.389000,119.814000,116.953500,118.708000,9.759047e+07,108.160000,111.085000,106.800000,108.734500,7.218749e+07,85.718250,86.985250,84.832550,86.172000,3.101848e+07,34.250000,34.990000,33.550000,34.300000,2.176342e+07
75%,146.550500,148.075500,144.878250,146.698250,1.321307e+08,158.328500,159.931000,156.225000,158.093500,9.790976e+07,112.689500,114.018500,111.472000,112.813250,3.995957e+07,43.740000,44.350000,43.010000,43.620000,3.038146e+07
max,181.576000,181.885000,178.087000,180.958000,4.347085e+08,187.200000,188.654000,184.840000,186.570000,3.113457e+08,151.250000,151.547000,148.899000,149.838000,1.331771e+08,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [9]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,104.80,46.13,34.74,53.34,118.39,146.55,181.58
apple_high,1258.00,106.07,46.71,35.16,53.87,119.81,148.08,181.88
apple_low,1258.00,103.61,45.58,34.26,52.75,116.95,144.88,178.09
apple_close,1258.00,104.90,46.17,34.31,53.41,118.71,146.70,180.96
apple_volume,1258.00,113114544.50,55916904.24,35195860.00,76852439.54,97590466.61,132130707.11,434708544.96
amazon_open,1258.00,121.78,33.77,67.30,91.45,108.16,158.33,187.20
amazon_high,1258.00,123.28,34.11,69.80,92.32,111.09,159.93,188.65
amazon_low,1258.00,120.15,33.36,65.35,90.51,106.80,156.22,184.84
amazon_close,1258.00,121.73,33.69,67.20,91.43,108.73,158.09,186.57
amazon_volume,1258.00,83106248.79,38211702.73,17626740.00,57430785.50,72187490.00,97909760.00,311345660.00
google_open,1258.00,88.90,29.70,49.22,60.70,85.72,112.69,151.25
google_high,1258.00,89.92,29.99,50.61,61.21,86.99,114.02,151.55
google_low,1258.00,87.91,29.35,48.88,60.23,84.83,111.47,148.90
google_close,1258.00,88.94,29.67,49.23,60.61,86.17,112.81,149.84
google_volume,1258.00,34857146.16,15570182.37,9312760.00,25058740.00,31018480.00,39959570.00,133177100.00
uber_open,1009.00,36.99,9.57,15.96,30.07,34.25,43.74,63.25
uber_high,1009.00,37.74,9.65,17.80,30.62,34.99,44.35,64.05
uber_low,1009.00,36.16,9.41,13.71,29.41,33.55,43.01,60.80
uber_close,1009.00,36.96,9.51,14.82,30.08,34.30,43.62,63.18
uber_volume,1009.00,25511737.02,16530691.10,3380003.00,15742985.00,21763417.00,30381462.00,186322536.00

In [10]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.38,0.67,0.68,0.67,0.67,-0.29,0.91,0.91,0.91,0.91,-0.08,0.05,0.06,0.06,0.06,0.10
apple_high,1.00,1.00,1.00,1.00,-0.38,0.67,0.68,0.66,0.67,-0.28,0.91,0.91,0.90,0.91,-0.08,0.05,0.05,0.05,0.05,0.11
apple_low,1.00,1.00,1.00,1.00,-0.39,0.67,0.68,0.67,0.67,-0.29,0.91,0.91,0.91,0.91,-0.09,0.06,0.06,0.06,0.06,0.10
apple_close,1.00,1.00,1.00,1.00,-0.38,0.67,0.68,0.67,0.67,-0.29,0.91,0.91,0.91,0.91,-0.08,0.05,0.06,0.06,0.05,0.10
apple_volume,-0.38,-0.38,-0.39,-0.38,1.00,-0.15,-0.15,-0.16,-0.15,0.59,-0.40,-0.40,-0.41,-0.41,0.45,-0.14,-0.14,-0.16,-0.15,0.22
amazon_open,0.67,0.67,0.67,0.67,-0.15,1.00,1.00,1.00,1.00,-0.19,0.75,0.75,0.75,0.75,-0.12,0.59,0.60,0.59,0.59,-0.03
amazon_high,0.68,0.68,0.68,0.68,-0.15,1.00,1.00,1.00,1.00,-0.18,0.75,0.75,0.75,0.75,-0.11,0.58,0.59,0.58,0.58,-0.03
amazon_low,0.67,0.66,0.67,0.67,-0.16,1.00,1.00,1.00,1.00,-0.21,0.75,0.75,0.75,0.75,-0.13,0.60,0.61,0.60,0.60,-0.04
amazon_close,0.67,0.67,0.67,0.67,-0.15,1.00,1.00,1.00,1.00,-0.20,0.75,0.75,0.75,0.75,-0.12,0.59,0.60,0.59,0.59,-0.04
amazon_volume,-0.29,-0.28,-0.29,-0.29,0.59,-0.19,-0.18,-0.21,-0.20,1.00,-0.31,-0.30,-0.32,-0.31,0.54,-0.16,-0.15,-0.17,-0.16,0.24
google_open,0.91,0.91,0.91,0.91,-0.40,0.75,0.75,0.75,0.75,-0.31,1.00,1.00,1.00,1.00,-0.13,0.23,0.24,0.24,0.23,0.09
google_high,0.91,0.91,0.91,0.91,-0.40,0.75,0.75,0.75,0.75,-0.30,1.00,1.00,1.00,1.00,-0.12,0.23,0.23,0.23,0.23,0.10
google_low,0.91,0.90,0.91,0.91,-0.41,0.75,0.75,0.75,0.75,-0.32,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.09
google_close,0.91,0.91,0.91,0.91,-0.41,0.75,0.75,0.75,0.75,-0.31,1.00,1.00,1.00,1.00,-0.13,0.23,0.24,0.24,0.23,0.09
google_volume,-0.08,-0.08,-0.09,-0.08,0.45,-0.12,-0.11,-0.13,-0.12,0.54,-0.13,-0.12,-0.14,-0.13,1.00,-0.16,-0.15,-0.17,-0.16,0.27
uber_open,0.05,0.05,0.06,0.05,-0.14,0.59,0.58,0.60,0.59,-0.16,0.23,0.23,0.24,0.23,-0.16,1.00,1.00,1.00,0.99,-0.20
uber_high,0.06,0.05,0.06,0.06,-0.14,0.60,0.59,0.61,0.60,-0.15,0.24,0.23,0.24,0.24,-0.15,1.00,1.00,1.00,1.00,-0.18
uber_low,0.06,0.05,0.06,0.06,-0.16,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.24,0.24,-0.17,1.00,1.00,1.00,1.00,-0.22
uber_close,0.06,0.05,0.06,0.05,-0.15,0.59,0.58,0.60,0.59,-0.16,0.23,0.23,0.24,0.23,-0.16,0.99,1.00,1.00,1.00,-0.20
uber_volume,0.10,0.11,0.10,0.10,0.22,-0.03,-0.03,-0.04,-0.04,0.24,0.09,0.10,0.09,0.09,0.27,-0.20,-0.18,-0.22,-0.20,1.00

In [11]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [12]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [13]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.67          0.91        0.05
amazon_close         0.67          1.00          0.75        0.59
google_close         0.91          0.75          1.00        0.23
uber_close           0.05          0.59          0.23        1.00

In [14]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [15]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.38,0.67,-0.29,0.91,-0.08,0.05,0.10
apple_volume,-0.38,1.00,-0.15,0.59,-0.41,0.45,-0.15,0.22
amazon_close,0.67,-0.15,1.00,-0.20,0.75,-0.12,0.59,-0.04
amazon_volume,-0.29,0.59,-0.20,1.00,-0.31,0.54,-0.16,0.24
google_close,0.91,-0.41,0.75,-0.31,1.00,-0.13,0.23,0.09
google_volume,-0.08,0.45,-0.12,0.54,-0.13,1.00,-0.16,0.27
uber_close,0.05,-0.15,0.59,-0.16,0.23,-0.16,1.00,-0.20
uber_volume,0.10,0.22,-0.04,0.24,0.09,0.27,-0.20,1.00

### <a name='a5'></a> Metoda append()

In [16]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-05-11      38.64      39.18     38.34       38.42     16515576
2023-05-10      38.60      38.95     38.17       38.79     19531548
2023-05-09      38.49      38.58     37.91       38.19     19393602
2023-05-08      37.82      38.93     37.48       38.83     30992060
2023-05-05      37.48      37.95     36.87       37.75     24682890

In [17]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [18]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [19]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

<ipython-input-19-aae1becbefc8>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber_6.append(uber_7)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]